* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  opacity: 1.0;
}

window#waybar{
  all:unset;
}

.modules-left {
  padding:4px;
  margin-top:4px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:8px;
  border-radius:16px;
  background: #101319;
}

.modules-center {
  padding:4px;
  margin-top:4px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  border-radius:16px;
  background: #101319;
}

.modules-right {
  padding:4px;
  margin-top:4px;
  margin-right:8px;
  margin-bottom:0px;
  margin-left:0px;
  border-radius:16px;
  background: #101319;
}


#clock, #battery, #pulseaudio, #network, #disk, #memory, #cpu, #temperature  {
  padding: 0 4px;
  margin: 0 4px;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all:unset;
  padding: 0px 5px;
	color: #e7ebf6;
  transition: all .2s ease;
}

#workspaces button:hover {
	color: #5b6078;
  border: none;
  transition: all 1s ease;
}

#workspaces button.active {
  color: #52a9a9;
  border: none;
}

#workspaces button.empty {
	color: #5b6078;
  border: none;
}

#workspaces button.empty:hover {
	color: #5b6078;
  border: none;
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: #63c0bf;
  border: none;
}

#clock {
	color: #5b6078;
}

#battery {
	color: #5b6078;
}

#battery.critical {
  color: #fb80aa;
}

#temperature {
	color: #5b6078;
}

#pulseaudio {
	color: #5b6078;
}

#network {
	color: #5b6078;
}

#disk {
	color: #5b6078;
}

#memory {
	color: #5b6078;
}

#cpu {
	color: #5b6078;
}
