* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: #101319;
}


#clock, #battery, #pulseaudio, #network, #disk, #memory, #cpu, #temperature  {
  padding: 0 10px;
  margin: 0 10px;
}

#workspaces {     
  margin: 0;
  transition: none;
  color: #f4f3ee;
	background: #101319;
}

#workspaces button {
  padding: 0 10px;
  transition: none;
	background: transparent;
  color: #f4f3ee;
	background: #101319;
}
        
#workspaces button.empty{
  transition: none;
  box-shadow: inherit;
	text-shadow: inherit;
	color: #3A435A;
}
#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #5599E2;
}

#workspaces button.active {
  transition: none;
  box-shadow: inherit;
	text-shadow: inherit;
	color: #5679E3;
  /*border-bottom: 3px solid #DE642B;*/
}

#clock {
  margin: 0;
  /*color: #f4f3ee;*/
	color: #3A435A;
}

#battery {
  margin: 0;
	color: #3A435A;
}

#temperature {
  margin: 0;
	color: #3A435A;
}

#pulseaudio {
  margin: 0;
	color: #3A435A;
}

#network {
  margin: 0;
	color: #3A435A;
}

#disk {
  margin: 0;
	color: #3A435A;
}

#memory {
  margin: 0;
	color: #3A435A;
}

#cpu {
  margin: 0;
	color: #3A435A;
}
