* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #101319;
}


#clock, #battery, #pulseaudio, #network, #disk, #memory, #cpu  {
  padding: 0 10px;
  margin: 0 10px;
}

#workspaces {     
  margin: 0;
  transition: none;
  color: #f4f3ee;
	background: #101319;
}

#workspaces button {
  padding: 0 10px;
  transition: none;
	background: transparent;
  color: #f4f3ee;
	background: #101319;
}
        
#workspaces button.empty{
  transition: none;
  box-shadow: inherit;
	text-shadow: inherit;
	color: #3A435A;
}
#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #e37e4f;
}

#workspaces button.active {
  transition: none;
  box-shadow: inherit;
	text-shadow: inherit;
	color: #DE642B;
  border-bottom: 3px solid #DE642B;
}

#clock {
  margin: 0;
  color: #f4f3ee;
}

#battery {
  margin: 0;
  color: #E34F4F;
  border-bottom: 3px solid #E34F4F;
}

#pulseaudio {
  margin: 0;
  color: #a6e3a1;
  border-bottom: 3px solid #a6e3a1;
}

#network {
  margin: 0;
  color: #885AC4;
  border-bottom: 3px solid #885AC4;
}

#disk {
  margin: 0;
  color: #3E66E0;
  border-bottom: 3px solid #3E66E0;
}

#memory {
  margin: 0;
  color: #DE642B;
  border-bottom: 3px solid #DE642B;
}

#cpu {
  margin: 0;
  color: #56B7C8;
  border-bottom: 3px solid #56B7C8;
}
